*.iml
.gradle
.idea
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
android-sdk/sampledata/
sampledata/
android-sdk/local.properties
testers_webtrekk.txt
*.hprof
/android-sdk/8B08C4D9.gpg
./sample/release-key
./sample/release/*
/android-sdk/3F5AB862.asc
