name: Unit Tests
description: Run Unit Tests and then Upload to Maven Central

on:
  push:
    branches: ["**"]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Run unit tests
        run: ./gradlew :android:clean :android:testReleaseUnitTest --no-daemon --stacktrace

